<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1>TESTING SYNC</h1>

  <ion-button (click)="gimmeDoTheLoopResult()">Do the loop</ion-button>
  <ion-button (click)="gimmeDoTheTimeoutLoopResult()">Do the timeout loop</ion-button>
  <ion-button (click)="gimmeDoTheTimeoutLoopResultWithPromiseResult()">Do the timeout loop with Promise</ion-button>
  <ion-button (click)="gimmeDoTheTimeoutLoopResultWithPromiseResultAsync()">Do the timeout loop with Promise (Async)</ion-button>

</ion-content>
